!!! 5
%html{:lang => "en"}
  %head
    %title company
    %link{:rel => "shortcut icon", :href => url("images/site.ico")}
    %link{:rel => "stylesheet", :href => url("styles/style.css")}
    %link{:rel => "stylesheet", :href => url("bootstrap/css/bootstrap.css")}
    %script{:src => url("scripts/script.js")}
    %script{:src => url("bootstrap/js/bootstrap.js")}
  %body
    = haml :navbar
    = yield 
  = haml :footer

